
<!-- Footer -->
<footer class="footer">
  <hr />
  <div class="footer-container">
    <div class="footer-contact">
      <p class="footer-title">Auras International</p>
      <p>Phone: +91 90761 30306</p>
      <p>Email: partnerships@aurasinternational.com</p>
    </div>
    <div class="footer-right">
      <div class="footer-socials">
        <a href="https://www.linkedin.com/company/107915442/admin/page-posts/published/"><img src="/images/linkedin.png" alt="LinkedIn" /></a>
        <a href="https://wa.me/919076130306"><img src="/images/whatsapp.png" alt="WhatsApp" /></a>
        <a href="https://www.instagram.com/auras_international"><img src="/images/instagram.png" alt="Instagram" /></a>
      </div>
      <a href="/contact-us#contact-info" class="footer-connect">CONNECT</a>
    </div>
  </div>
</footer>


