
<!-- Footer -->
<footer class="footer">
      <hr />
      <div class="footer-container">
        <div class="footer-left">
          <img
            src="/images/logo2.png"
            alt="Auras International Logo"
            class="footer-logo"
          />
        </div>

        <div class="footer-links">
          <a href="/about">About</a>
          <a href="/our-work">Our Work</a>
          <a href="/process">Process</a>
        </div>

        <div class="footer-contact-info">
          <p>Mumbai, India</p>
          <p>
            <a href="mailto:partnerships@aurasinternational.com"
              >partnerships@aurasinternational.com</a
            >
          </p>
          <p><a href="tel:+919076130306">+91 90761 30306</a></p>
        </div>
      </div>

      <div class="footer-connect-group">
        <a href="/contact-us#contact-info" class="footer-connect"
          >Connect</a
        >
      </div>

      <div class="footer-bottom">
        <p>© 2025 Auras International. All Rights Reserved.</p>
        <div class="footer-socials">
          <a
            href="https://www.linkedin.com/company/107915442/admin/page-posts/published/"
            target="_blank"
            ><img src="/images/linkedin.png" alt="LinkedIn"
          /></a>
          <a href="https://wa.me/919076130306" target="_blank"><img src="/images/whatsapp.png" alt="WhatsApp" /></a>
          <a
            href="https://www.instagram.com/auras_international"
            target="_blank"
            ><img src="/images/instagram.png" alt="Instagram"
          /></a>
        </div>
      </div>
    </footer>


