
<!-- Navbar -->
<header>
  <div class="logo">
   <a href="/"><img id="logo-img" src="/images/logo2.png" alt="Auras Logo"></a>
  </div>

   <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  
  <nav id="navbar">
    <a href="/about">ABOUT</a>
    <a href="/our-work">OUR WORK</a>
    <a href="/process">PROCESS</a>
    <a href="/contact-us" class="contact-btn">CONTACT US</a> 
</nav>
</header>