<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auras International</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/contact.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <section class="collaborate">
      <div>Let’s Collaborate</div>
      <p>Questions, ideas, or ready to get started?<br/> Let’s connect and make it happen.</p>
    </section>

    <section class="hero">
      <div class="hero-fade-overlay"></div>
      <img src="/images/contact-hero.png" alt="about-hero" class="hero-bg" />
    </section>

    <section id="contact-info" class="contact-info">
       <h2>Contact Information</h2>
  <div class="contact-container">
    <div class="contact-left">
      <ul>
        <li><img src="/images/whatsapp1.png" alt="WhatsApp" /> +91 90761 30306</li>
        <li><img src="/images/phone1.png" alt="Phone" /> +91 90761 30306</li>
        <li><img src="/images/mail1.png" alt="Email" /> partnerships@aurasinternational.com</li>
        <li><img src="/images/webcam1.png" alt="Location" />
          21/22, West View, Bldg. No.3<br />
          S. V. Road, Santacruz West<br />
          Mumbai, 400054<br />
          India
        </li>
      </ul>
      <div class="social-icons">
        <a href="https://www.instagram.com/auras_international"><img class="img1" src="/images/instagram1.png" alt="Instagram" /></a>
        <a href="https://www.linkedin.com/company/107915442/admin/page-posts/published/"><img class="img2" src="/images/linkdin1.png" alt="LinkedIn" /></a>
      </div>
      <button class="connect-btn">CONNECT</button>
    </div>

    <div class="contact-right">
      <h3>Send us a message!</h3>
      <form>
          <div class="form-input">
              <input type="text" placeholder="Full Name" required />
              <input type="email" placeholder="Email Address" required />
            </div>
        <input type="text" placeholder="Company (if applicable)" />
        <textarea placeholder="Message" rows="4" required></textarea>
        <button type="submit" class="send-btn">Send Message</button>
      </form>
    </div>
  </div>
</section>
    <script src="/js/common.js"></script>
  </body>
</html>
