<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auras International</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init('<%= process.env.EMAILJS_USER_ID %>');
      })();
    </script>
  </head>
  <body>
    <%- include('partials/header') %>

    <section class="collaborate">
      <div>Let’s Collaborate</div>
      <p>
        Questions, ideas, or ready to get started?<br />
        Let’s connect and make it happen.
      </p>
    </section>

    <section class="hero">
      <div class="hero-fade-overlay"></div>
      <img src="/images/contact-hero.png" alt="about-hero" class="hero-bg" />
    </section>

    <!-- Contact Information Section -->
    <section class="contact-info" id="contact-info">
      <h2>Contact Information</h2>
      <div class="contact-container">
        <div class="contact-left">
          <p>
            <strong>Contact Number:</strong><br />
            +91 90761 30306
          </p>
        </div>

        <div class="contact-center">
          <p>
            <strong>For All inquiries:</strong><br />
            partnerships@aurasinternational.com
          </p>
        </div>

        <div class="contact-right">
          <p>
            <strong>Address:</strong><br />
            21/22, West View, Bldg. No.3<br />
            S. V. Road, Santacruz West<br />
            Mumbai, 400054<br />
            India
          </p>
        </div>
      </div>

      <div class="social-icons">
        <a href="https://wa.me/919076130306" target="_blank"
          ><img src="/images/whatsapp.png" alt="WhatsApp" class="img1"
        /></a>
        <a href="https://www.instagram.com/auras_international"
          ><img src="/images/instagram.png" alt="Instagram" class="img1"
        /></a>
        <a href="https://www.linkedin.com/company/107915442/"
          ><img src="/images/linkedin.png" alt="LinkedIn" class="img1"
        /></a>
      </div>
    </section>

    <!-- Get In Touch Section -->
    <section class="contact-form-section">
      <div class="contact-container">
        <div class="contact-left">
          <h2>Get In Touch</h2>
          <p>
            Reach out to us and let us know if you want to partner with us, or
            if you’re interested in knowing about the work we do!
          </p>
        </div>

        <div class="contact-right">
          <form>
            <div class="form-input">
              <input type="text" placeholder="Full Name" id="name" required />
              <input type="email" placeholder="Email Address" id="email" required />
            </div>
            <div class="form-input">
              <input type="text" placeholder="Company (if applicable)" id="company" />
              <select id="service" required>
                <option value="">Subject</option>
                <option>Sample request</option>
                <option>New Project</option>
                <option>General Inquiry</option>
              </select>
            </div>
            <textarea placeholder="Message" id="message" required></textarea>
            <button type="submit" onclick="sendEmail()" class="send-btn">Send Message</button>
          </form>
        </div>
      </div>
    </section>
    <%- include('partials/footer') %>
    <script src="/js/sendEmail.js"></script>
    <script src="/js/common.js"></script>
  </body>
</html>
